@import '../base/base'
@import '../components/grid-photo'

section.tag
    width 100%
    
    section.info-tag
        width 100%
        background gray
        padding 0.5em 0
        
        h2
        h3
            color white
            text-align center
            margin 0