{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Photon Nueva Constraseña
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/user/registration.css" %}">
{% endblock %}

{% block header_class %}
    class="border-bottom"
{% endblock %}

{% block content %}
    <section class="base">
        <span class="icon-stack logo"></span>
        <h2>Photon</h2>
        {% if user.is_authenticated %}
        <h3>Bienvenido a Photon</h3>
        {% else %}
        <h3>Escriba la nueva contraseña</h3>
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            {{form.as_p}}
            <fieldset>
                <button type="submit">Cambiar</button>
            </fieldset>
        </form>
        {% endif %}
    </section>
{% endblock %}