{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Photon Cambiar Constraseña
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/user/registration.css" %}">
{% endblock %}

{% block header_class %}
    class="border-bottom"
{% endblock %}

{% block content %}
    <section class="base">
        <span class="icon-stack logo"></span>
        <h2>Photon</h2>
        {% if user.is_authenticated %}
        <h3>Contraseña Cambiada</h3>
        <span class="icon-checkmark big done"></span>
        {% else %}
        <h3>Bienvenido a Photon</h3>
        {% endif %}
    </section>
{% endblock %}