{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Photon Cambiar Constraseña
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/user/registration.css" %}">
{% endblock %}

{% block header_class %}
    class="border-bottom"
{% endblock %}

{% block content %}
    <section class="base">
        <span class="icon-stack logo"></span>
        <h2>Photon</h2>
        <h3>El registro de usuarios esta cerrado.</h3>
        <span class="icon-user-plus big fail"></span>
    </section>
{% endblock %}