{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Photon Registrarse
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/user/signup.css" %}">
{% endblock %}

{% block header_class %}
    class="border-bottom"
{% endblock %}

{% block content %}
    <section class="login">
        <span class="icon-stack logo"></span>
        <h2>Photon</h2>
        {% if user.is_authenticated %}
        <h3>Ya Estas Registrado</h3>
        {% else %}
        <h3>Registrate Gratis</h3>
        <form action="{% url 'registration_register' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            {{form.as_p}}
            <fieldset>
                <button type="submit">Enviar</button>
            </fieldset>
            <fieldset>
                <p>
                Photon es una plataforma que te permite compartir tus imagenes con las demas personas de manera gratuita y facil. Encuentra las mejores imagenes para tus proyectos y trabajos. Entra gratis ya mismo.
                </p>
                <a href="{% url 'auth_login' %}">Entrar</a>
            </fieldset>
        </form>
        {% endif %}
    </section>
{% endblock %}