@import '../base/base'
@import '../components/form-user'

section.login
    width 100%
    
    span.logo
        font-size 4em
        text-align center
        color lead
        margin 0.5em auto
        display block
        
    h2
        text-align center
        color gray
        font-size 2.5em
        margin 0.5em auto
    
    h3
        color lead
        text-align center
        margin 0.5em auto
        
        