@import '../base/base'
@import '../components/grid-photo'

section.user
    width 100%
    
    section.user-info
        width 100%
        background gray
        margin 0
        padding 1em 0
        
        figure
            margin 0.5em auto
            width 5%
            min-width 50px
            border-radius 50%
            border 2px solid white

            img
                display block
                width 100%
                border-radius 50%
        
        h2
            color white
            text-align center
            margin 0