@import '../base/base'

section.home
    h4
        color gray
        text-align center
        font-size 1.25em
    
    span.icon-stack
        padding 0.5em
        width 30px
        height 30px
        border-radius 10px
        font-size 2em
        color white
        background gray
        display block
        text-align center
        margin 0.5em auto