{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Photon
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/photo/home.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/jquery.tipsy.css" %}">
{% endblock %}

{% block content %}
    {% load thumbnail %}
    <section class="home">
        {% include "mixins/grid-photo.html" %}
    </section>
{% endblock %}

{% block footer %}
    {% include "mixins/paginator.html" %}
{% endblock %}

{% block js %}
    <script src="{% static "js/vendor/jquery.tipsy.min.js" %}"></script>
    <script>
        $(document).on("ready", init_page);

        function init_page(){
            $('.download').tipsy({position: 'top-center',});
        }
    </script>
{% endblock %}