{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Photon Tags {{tag}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/photo/tag.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/jquery.tipsy.css" %}">
{% endblock %}

{% block content %}
    <section class="tag">
        <section class="info-tag">
            <h2>{{tag}}</h2>
            <h3>{{photos|length}}</h3>
        </section>
        {% include "mixins/grid-photo.html" %}
    </section>
{% endblock %}

{% block footer %}
    {% include "mixins/paginator.html" %}
{% endblock %}

{% block js %}
    <script src="{% static "js/vendor/jquery.tipsy.min.js" %}"></script>
    <script>
        $(document).on("ready", init_page);

        function init_page(){
            $('.download').tipsy({position: 'top-center',});
        }
    </script>
{% endblock %}