@import '../base/base'
@import '../components/form-user'

section.base
    width 100%
    
    span.big
    span.logo
        text-align center
        color lead
        margin 0.5em auto
        display block
        
        &.logo
            font-size 4em
        
        &.done
            font-size 3em
            color green
        
        &.fail
            font-size 3em
            color google
        
    h2
        text-align center
        color gray
        font-size 2.5em
        margin 0.5em auto
    
    h3
        color lead
        text-align center
        margin 0.5em auto
    
    p
        color lead
        text-align justify
        margin 1em auto
        
        