{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:site_name" content="Photon" />
    <title> {% block title %}{% endblock %} </title>
    <link rel="shortcut icon" href="{% static "images/logo.ico" %}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300'>
    <link rel='stylesheet' href='{% static "css/icomoon/style.css" %}'>
    <link rel="stylesheet" type="text/css" href="{% static "css/vendor/jquery.dropdown.css" %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header {% block header_class %}{% endblock %}>
        <nav class="left">
            <a href="{% url 'photo:home' %}"><span class="icon-stack"></span></a>
            <a href="{% url 'photo:home' %}">Photon</a>
            <a href="{% url 'photo:tags' %}">Tags</a>
        </nav>
        <nav class="right">
            <a href="https://twitter.com/cristhgunners" target="_blank"><span class="icon-twitter" target="_blank"></span></a>
            <a href="https://plus.google.com/u/0/110479947234895589247/posts" target="_blank"><span class="icon-google-plus2"></span></a>
            <a href="https://github.com/CristhGunners/" target="_blank"><span class="icon-github4"></span></a>
            <a href="" data-dropdown="#dropdown-filter"><span class="icon-menu"></span></a>
        </nav>
    </header>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
    <footer>
        <ul>
            <li class="left">
                Desarrollado por <strong><a href="https://twitter.com/cristhgunners" target="_blank">Cristhofer Andana.</a></strong>
            </li>
            {% block footer %}{% endblock %}
        </ul>
    </footer>
    
    <div id="dropdown-filter" class="dropdown dropdown-tip dropdown-anchor-right">
        <ul class="dropdown-menu">
            {% if user.is_authenticated %}
                <li><a href="{{ user.get_absolute_url }}" class=""><span class="icon-user"></span> Yo</a></li>
                <li><a href="{% url 'photo:upload' %}" class=""><span class="icon-cloud-upload"></span> Subir Imagen</a></li>
                <li><a href="{% url 'user:settings' %}" class=""><span class="icon-cog"></span> Configuracion</a></li>
                <li><a href="{% url 'auth_logout' %}" class=""><span class="icon-exit"></span> Salir</a></li>
            {% else %}
                <li><a href="{% url 'auth_login' %}" class=""><span class="icon-enter"></span> Entrar</a></li>
                <li><a href="{% url 'registration_register' %}" class=""><span class="icon-user-plus"></span> Registrarse</a></li>
            {% endif %}
        </ul>
    </div>
    

    <script src="{% static "js/vendor/jquery-latest.js" %}"></script>
    <script src="{% static "js/vendor/flowtype.js" %}"></script>
    <script src="{% static "js/vendor/jquery.dropdown.js" %}"></script>
    {% block js %}{% endblock %}
    <script src="{% static "js/base.js" %}"></script>
</body>
</html>