{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:site_name" content="Photon" />
    <title> {% block title %}{% endblock %} </title>
    <link rel="shortcut icon" href="{% static "images/logo.ico" %}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300'>
    <link rel='stylesheet' href='{% static "css/icomoon/style.css" %}'>
    <link rel="stylesheet" type="text/css" href="{% static "css/vendor/jquery.dropdown.css" %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="left">
            <a href=""><span class="icon-stack"></span></a>
            <a href="">Photon</a>
            <a href="">Tags</a>
        </nav>
        <nav class="right">
            <a href=""><span class="icon-twitter"></span></a>
            <a href=""><span class="icon-google-plus2"></span></a>
            <a href=""><span class="icon-github4"></span></a>
            <a href="" data-dropdown="#dropdown-filter"><span class="icon-menu"></span></a>
        </nav>
    </header>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
    <footer>
        <ul>
            <li>
                72 Fotos
            </li>
            <li>
                <a href="">Anterior</a>
            </li>
        </ul>
    </footer>
    
    <div id="dropdown-filter" class="dropdown dropdown-tip dropdown-anchor-right">
        <ul class="dropdown-menu">
            {% if user.is_authenticated %}
                <li><a href="" class=""><span class="icon-user"></span> Yo</a></li>
                <li><a href="" class=""><span class="icon-cloud-upload"></span> Subir Imagen</a></li>
                <li><a href="" class=""><span class="icon-cog"></span> Configuracion</a></li>
                <li><a href="" class=""><span class="icon-exit"></span> Salir</a></li>
            {% else %}
                <li><a href="" class=""><span class="icon-enter"></span> Entrar</a></li>
                <li><a href="" class=""><span class="icon-user-plus"></span> Registrarse</a></li>
            {% endif %}
        </ul>
    </div>
    

    <script src="{% static "js/vendor/jquery-latest.js" %}"></script>
    <script src="{% static "js/vendor/flowtype.js" %}"></script>
    <script src="{% static "js/vendor/jquery.dropdown.js" %}"></script>
    {% block js %}{% endblock %}
    <script src="{% static "js/base.js" %}"></script>
</body>
</html>