{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    {{profile.full_name}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/user/user.css" %}">
{% endblock %}

{% block content %}
    {% load thumbnail %}
    <section class="user">
        <section class="user-info">
            <figure>
                <img src="{{profile.avatar|thumbnail_url:'avatar'}}" alt="">
            </figure>
            <h2>{{profile.full_name}}</h2>
        </section>
        <section class="grid-photo">
            {% for photo in photos %}
            <div class="photo">
                <div class="background" style="background-image:url('{{photo.image|thumbnail_url:'home'}}');"></div>
                <div class="photo-info">
                    <time><span class="icon-clock"></span> {{photo.date_creation|date:"d ,F Y"}}</time>
                </div>
                <a href="" class="download"><span class="icon-cloud-download"></span></a>
            </div>
            {% endfor %}
        </section>
    </section>
{% endblock %}

{% block footer %}
    <ul>
        <li>
            Pagina {{ photos.number }} de {{ photos.paginator.num_pages }}.
        </li>
        {% if photos.has_next %}
        <li>
            <a href="?page={{ photos.next_page_number }}">Siguiente</a>
        </li>
        {% endif %}
        {% if photos.has_previous %}
        <li>
            <a href="?page={{ photos.previous_page_number }}">Anterior</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}