{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    {{profile.full_name}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/user/user.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/jquery.tipsy.css" %}">
{% endblock %}

{% block content %}
    {% load thumbnail %}
    <section class="user">
        <section class="user-info">
            <figure>
                <img src="{{profile.avatar|thumbnail_url:'avatar'}}" alt="">
            </figure>
            <h2>{{profile.full_name}}</h2>
            {% if profile.website %}
            <h4><a href="{{profile.website}}" target="_blank">{{profile.website}}</a></h4>
            {% endif %}
            <ul>
                {% if profile.facebook %}
                <li><a href="{{profile.facebook}}" target="_blank"><span class="icon-facebook2"></span></a></li>
                {% endif %}
                {% if profile.twitter %}
                <li><a href="{{profile.twitter}}" target="_blank"><span class="icon-twitter"></span></a></li>
                {% endif %}
                {% if profile.googleplus %}
                <li><a href="{{profile.googleplus}}" target="_blank"><span class="icon-google-plus2"></span></a></li>
                {% endif %}
                {% if profile.instagram %}
                <li><a href="{{profile.instagram}}" target="_blank"><span class="icon-instagram"></span></a></li>
                {% endif %}
            </ul>
        </section>
        <section class="grid-photo">
            {% for photo in photos %}
            <div class="photo {% if not forloop.counter|divisibleby:2 and forloop.last %}full{% endif %}">
                <div class="background" style="background-image:url('{{photo.image|thumbnail_url:'home'}}');"></div>
                <div class="photo-info">
                    <time><span class="icon-clock"></span> {{photo.date_creation|date:"d ,F Y"}}</time>
                </div>
                <a href="{% url 'photo:download' photo.id %}" target="_blank" class="download" title="{{photo.download_count}}"><span class="icon-cloud-download"></span></a>
            </div>
            {% endfor %}
        </section>
    </section>
{% endblock %}

{% block footer %}
    {% include "mixins/paginator.html" %}
{% endblock %}

{% block js %}
    <script src="{% static "js/vendor/jquery.tipsy.min.js" %}"></script>
    <script>
        $(document).on("ready", init_page);

        function init_page(){
            $('.download').tipsy({position: 'top-center',});
        }
    </script>
{% endblock %}